.team {
    padding-top: calc(var(--gap-v) * 5);
    padding-bottom: calc(var(--gap-v) * 5);
    // padding-top: clamp(2rem, 1.411rem + 2.94vw, 5rem);
    // padding-bottom: clamp(2rem, 1.411rem + 2.94vw, 5rem);
   
}

.team__title,
.teem__slogan{
    padding-left: calc(100% / 6 + 0.5rem);

    @include phablet{
        padding-left: 2.5rem;
    }
    @include mobile{
       padding-left: 0.1rem;
    }
}

.team__title {
    padding-bottom: 3rem;
   }


.teem__slogan:last-of-type {
    padding-bottom: 7rem;
}

.team__swiper {
    margin: 0 auto;
    width: calc(100% / 6 * 4);
    background-color: rgba(255, 0,0 , 0.1);
    padding-bottom: calc(var(--gap-vertical) * 2);

    @include desktop{
        width: calc(100% / 6 * 4);
    }

    @include phablet{
        width: calc(100% - 5rem);
    }
    @include mobile{
        width: calc(100% - 0.1rem);
    }
}
.team__card {
    background-color: rgba(255, 0,0 , 0.1);
    // clip-path: circle(35%);
    //  transition: clip-path 1s;
    position: relative;
    
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
       clip-path: circle(35%);
        //clip-path: polygon(0 31%, 42% 32%, 43% 0, 65% 0%, 65% 32%, 100% 32%, 100% 59%, 65% 59%, 65% 100%, 43% 99%, 42% 60%, 0 59%);
        transition: clip-path 0.5s ease-in-out;
    }

  &:hover {
    // clip-path: circle(75%);
    
   
    &::before{
        clip-path: circle(75%);
        background-color: var(--dtl-green); 
       
    }
   
  }
      
}
.team__card-wrapper{
    padding: 2.4rem 4rem;
    display: flex;
}

.team__image {
    // width: 14rem;
    // height: 14rem;
}
.team__photo {
    object-fit: cover;
}
.team__person {
    padding-left: 2.4rem;
}
.team__name {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}
.team__position {
    color: var(--dtl-dark-102);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
}

.team__socials {
    
}
.team__socials-link {
    color: lime;
}

.team__swiper-pagination .swiper-pagination-bullet {
    background: var(--txt-dark-102);
    opacity: 0.6;
    width: 12px;
    height: 12px;
    margin: -10px 16px !important;
  }
  
  .team__swiper-pagination .swiper-pagination-bullet-active {
    background: var(--dtl-green);
    opacity: 0.6;
    width: 14px;
    height: 14px;
  }
