// Ограничение макета
// $wrapper-max: 1440px !default;
// $wrapper-min: 280px !default;

$wrapper-max: 1950px;
$wrapper-min: 280px;

// Контейнер
$container-max-widths: 1950px;
$container-padding: 15px;

// text olors

$text-dark: rgba(0,0,0, 0.0);
$text-light: rgba(255,255, 255, 1.0);



$font-main: "Railway";
$font-secondary: "Montserrat";