footer {
  background: white;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: var(--dtl-orange);

  @include tablet {
    font-size: 50px;
  }

  @include phablet {
    font-size: 30px;
  }
}