.section-slogan {
    font-size: 8.6rem;
    font-weight: 700;
    line-height: 1.05;
    color: var(--txt-dark-48);
    text-transform: uppercase;
}

.section-slogan .accent {
    color: var(--dtl-orange);
}